* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.newsWrapper {
  display: flex;
  flex-direction: column;
}

.allNews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25vh;
}

.news {
  max-width: 400px;
  padding: 30px;
  border: 1px solid gray;
  margin: 10px;
}

.news img {
  width: 100%;
}

.searchNews {
  position: fixed;
  background: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 25vh;
}

.searchForm {
  width: 25%;
}

.searchInput {
  width: 80%;
  padding: 8px 40px 8px 3px;
}

.searchForm button {
  padding: 8px 5px;
}

.filterStories button {
  padding: 8px 5px;
  margin: 5px;
}
